# Flask
FLASK_ENV=development
SECRET_KEY=change-this-secret-key

# JWT
JWT_SECRET_KEY=change-this-jwt-secret-key

# IPL Database
IPL_DB_HOST=127.0.0.1
IPL_DB_PORT=3306
IPL_DB_USER=root
IPL_DB_PASSWORD=
IPL_DB_NAME=ipl_db

# Authentication Database
AUTH_DB_HOST=127.0.0.1
AUTH_DB_PORT=3306
AUTH_DB_USER=root
AUTH_DB_PASSWORD=
AUTH_DB_NAME=creasecontrol_auth